1
- Datenbanken I
- Rechnerarchitektur
WS 2010/11
- Nubra
Klausur
ohne L&ouml;sung

######################

2
- Simulation
- Messtechnik (Praktikum)
SS 2011
- Schwerkel
- Nubra
Klausur
ohne L&ouml;sung

######################

3
- Halbleiter
- Nanotechnology
WS 2010/11
- Gerbert
Protokoll
ohne L&ouml;sung

######################

4
- Informatik I
WS 2011/12
- Adams
Klausur
mit L&ouml;sung

######################

5
- Datenbanken I
- Rechnerarchitektur
- Mustererkennung I
SS 2012
- Huber
- Schwerkel
- Nubra
Protokoll
mit L&ouml;sung